@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.fas {
  font-size: 1.2em;
}
.navbar {
  background-color: #EDCB54;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.navbar .logo {
  height: 60px;
  width: 60px;
  grid-column: 2 / 3;
}
.navbar .menu {
  grid-column: 4 / 7;
  display: flex;
}
.navbar ul li {
  margin-right: 3em;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navbar a:hover {
  color: #fff;
}
.navbar .menu-bar {
  display: none;
}


@media only screen and (max-width: 600px)  {
  
  .navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }
  .navbar .logo {
    height: 60px;
    width: 60px;
    grid-column: 2 / 3;
  }
  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    margin-right: 3em;
    list-style: none;
  }
  .navbar ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .navbar ul li a:hover {
    color: #fff;
  }
  .navbar .menu-bar {
    display: none;
  }
  .navbar .shop {
    grid-column: 8 / 9;
    justify-content: flex-end;
  }
  .navbar {
    position: relative;
  }
  .navbar .menu {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    background-color: #EDCB54;
    transform: translateX(170%);
    /*transition: all 1s;*/
    margin-top: 34em;
    z-index: 1;
  } 
  .navbar .menu-toggle {
    transform: translateX(70%);
  }  
   .navbar .shop {
     display: none;
   }
  .navbar .menu-bar {
    display: block;
  }
  .navbar .menu-bar .fas {
    color: #181818;
  }
  .navbar .menu li {
    list-style: none;
    margin: 0 auto;
  }  
  .navbar .menu li a {
    text-decoration: none;
    color: #181818;
    font-size: 1.2em;
  } 
  .navbar .menu-bar {
    grid-column: 8 / 10;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
  }  
}
